// DateSnap-Debug.xcconfig
#include "DateSnap-Base.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)

CODE_SIGN_STYLE = Automatic
// Select a development team in Xcode or pass DEVELOPMENT_TEAM on the command line.
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER = 
